{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.homepage'|trans }}
{% endblock %}

{% block body %}

    <div class="container mt-5">

        <header>
            <h1 class="text-center mb-5">Witaj na naszym blogu!</h1>
        </header>

        <section>
            <p>Zapraszamy Cię do odkrywania świata inspirujących artykułów i gorących tematów. Nasz blog został stworzony, by dostarczać wartościową treść w przejrzysty i dostępny sposób. Zobacz, co możemy Ci zaoferować:</p>
        </section>

        <section>
            <h2 class="mt-4 mb-3">Dla czytelników:</h2>
            <ul>
                <li><strong>Przeglądaj najnowsze treści</strong>: Nasze posty są sortowane od najnowszych do najstarszych, dzięki czemu zawsze znajdziesz coś świeżego.</li>
                <li><strong>Kategorie tematyczne</strong>: Szukasz artykułów na konkretny temat? Przejrzyj nasze kategorie i zanurz się w treściach, które Cię najbardziej interesują.</li>
                <li><strong>Dodawaj komentarze</strong>: Dziel się swoimi przemyśleniami! Możesz dodawać komentarze pod każdym postem, podając swój nick, adres e-mail i treść komentarza.</li>
            </ul>
        </section>

        <section>
            <h2 class="mt-4 mb-3">Dla administratora:</h2>
            <ul>
                <li><strong>Pełna kontrola treści</strong>: Jako administrator, masz pełne narzędzia do tworzenia, edycji i usuwania postów.</li>
                <li><strong>Zarządzanie kategoriami</strong>: Twórz, edytuj i usuwaj kategorie tematyczne, a następnie łącz je z odpowiednimi postami.</li>
                <li><strong>Moderacja komentarzy</strong>: Dbaj o jakość dyskusji na blogu, usuwając nieodpowiednie komentarze.</li>
                <li><strong>Bezpieczeństwo</strong>: Zaloguj się do panelu administracyjnego, zmieniaj hasło i aktualizuj swoje dane osobowe w bezpiecznym środowisku.</li>
            </ul>
        </section>

        <footer class="mt-5">
            <p class="text-center">Przystąp do naszej społeczności i zacznij odkrywać, dyskutować i dzielić się swoją pasją z innymi!</p>
        </footer>

    </div>


{% endblock %}